# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/
# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# IntelliJ IDEA project files
.idea/
*.iws
*.iml
*.ipr

# Gradle or Maven build directories
build/
target/
out/

# NetBeans
nbproject/private/
nbbuild/
dist/
nbdist/
.exc

# Eclipse
.metadata/
.recommenders/

# OS Specific files (Mac)
.DS_Store

# OS Specific files (Windows)
Thumbs.db

# OS Specific files (Linux)
*~